<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <p>This westher app is developed by Kuntal Biswas. It uses mapbox.com and weatherstack.com to forecast weather data.</p>
        <p>Welcome to {{name}} page</p>
        {{>footer}}
    </body>
</html>