<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <p>This is a Error Page</p>
        <p>Error: {{err_name}}</p>
        {{>footer}}
    </body>
</html>