<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        {{>header}}
        <p>This is a {{name}} page Demo Node Express Project</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="msg-1"></p>
        <p id="msg-2"></p>
        {{>footer}}
        <script src="/js/test.js"></script>
    </body>
</html>